<!-- Search scripts -->
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="/assets/search.js"></script>

<script>
 window.store = {
     {% for post in site.posts %}
     "{{ post.url | slugify }}": {
         "title": "{{ post.title | xml_escape }}",
         "author": "{{ post.author | xml_escape }}",
         "category": "{{ post.category | xml_escape }}",
         "content": {{ post.content | strip_html | strip_newlines | jsonify }},
         "url": "{{ post.url | xml_escape }}"
     }
     {% unless forloop.last %},{% endunless %}
     {% endfor %}
 };
 initLunr();
</script>

<!-- Search text box -->
<div class="search-wrapper">
<input type="text" name="query" id="search-box" onkeyup="search()" placeholder="What are you looking for?" autofocus />
</div>

<!-- Search results placeholders -->
<h6 id="num-search-results"> </h6>
<ul class="post-list" id="search-results"></ul>

