/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  padding: 8px 20px;
  font-size: 0.875rem; line-height: 1.7;
  background-color: hsl(0, 0%, 30);
  color: white;
  border: 2px solid black !important;
  border-radius: var(--border-radius);
}

.btn:visited {
  color: white;
}

.btn:hover {
  background-color: white;
  color: black;
}
