/* Responsive iFrame */
/* https://answers.squarespace.com/questions/54774/how-to-embed-a-google-calendar-in-a-responsive-way.html */

@media #{$max-medium} {
  .big-container {
    display: none;
  }
}
@media #{$medium} {
  .small-container {
    display: none;
  }
}

.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 600px;
  overflow: hidden;

}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
}
