/* ==========================================================================
   Site footer
   ========================================================================== */

.footer-wrapper {
  //@include clearfix;
  //position: absolute;
  display: block;
  bottom: 0;
  //width: 100%;
  max-width: 59.5em;
  margin: 2em auto;
  text-align: center;
  font-family: $alt-font;
  @include font-size(14);
  font-style: italic;
  color: lighten($text-color,20);
  border-top: 1px solid rgba($black,.10);
  padding-top: 1em;

  a {
    color: lighten($text-color,20);
  }
}

/*
   Social media icons
   ========================================================================== */

.social-icons {
  margin: 1em 0 2em;

  a {
    padding: 4px 8px;

    &:hover {
      color: $black;
    }
  }
}
