/* ==========================================================================
   Site footer
   ========================================================================== */

.footer-wrapper {
  display: block;
  bottom: 0;
  max-width: 59.5em;
  margin: 2em auto;
  text-align: center;
  font-family: var(--alt-font);
  font-size: 0.875rem; line-height: 1.7;
  font-style: italic;
  color: hsl(var(--text-color-hs), calc(var(--text-color-l) + 20%));
  border-top: 1px solid var(--border-color);
  padding-top: 1em;
}
.footer-wrapper a {
  color: hsl(var(--text-color-hs), calc(var(--text-color-l) + 20%));
}

/*
   Social media icons
   ========================================================================== */

.social-icons {
  margin: 1em 0 2em;
}
.social-icons a {
  padding: 4px 8px;
}
.social-icons a:hover {
  color: black;
}
