.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.post-list li {
  padding: 8px 0;
  margin-bottom: 0px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  border-bottom: 1px solid var(--border-color);
}
.post-list li > a {
  border-bottom-width: 0; /* remove underlines from items in post indexes */
}
@media only screen and (min-width: 44em) {
  .post-list .entry-header {
    display: flex;
    justify-content: space-between;
  }
}
.post-list .entry-header .title {
  font-size: 1.125rem;
  line-height: 1.33;
}
.post-list .entry-header .entry-info {
  font-size: 0.875rem;
  line-height: 1.7;
  text-transform: uppercase;
  flex-shrink: 0;
}
.post-list .entry-header .entry-info .entry-date {
  display: inline;
}
.post-list .entry-header .entry-info .category-tag:before {
  content: "\2022";
}
.post-list .entry-header .entry-info .category-tag {
  font-weight: bold;
  display: inline;
}
.post-list .excerpt {
  font-size: 0.875rem;
  line-height: 1.29;
  //height: 3 * (1 + 14pt);
  //overflow: hidden;
  //text-overflow: ellipsis;
  //white-space: nowrap;
  //word-wrap: normal;
}

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
}
.tag-box.inline li {
  float: left;
  font-size: 0.875rem;
  line-height: 1.7;
  line-height: 2.5;
}
.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 4px;
  text-decoration: none;
}
.tag-box a span {
  vertical-align: super;
  font-size: 0.625rem;
  line-height: 2.4;
}

.center-btns {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.center-btns input[type='radio'] {
  display: none;
}

.center-btns label {
  //width: 10em;
  margin: 0 0.4em 0.5em;
  order: -1;
}

.center-btns label:hover {
  cursor: pointer;
}

.center-btns ul.post-list {
  overflow: hidden;
  padding: 0 10px;
  display: none;
  margin-top: 1em;
}

.center-btns label + input[type='radio']:checked + ul.post-list {
  display: block;
}
