.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding: 8px 0;
    margin-bottom: 0px;
    border-bottom: 1px solid lighten($black,80);
    border-bottom: 1px solid rgba($black,.10);
    @include clearfix;

    > a {
      border-bottom-width: 0; /* remove underlines from items in post indexes */
    }
  }

  .entry-header {
    @media #{$small} {
      display: flex;
      justify-content: space-between;
    }

    .title {
      @include font-size(18,no);
    }
    .entry-info {
      @include font-size(14,no);
      text-transform: uppercase;
      flex-shrink: 0;

      .entry-date {
        display: inline;
      }
      .category-tag:before {
        content: "\2022";
      }
      .category-tag {
        font-weight: bold;
        display: inline;
      }
    }
  }

  .excerpt {
    @include font-size(14, no, 18);
    //height: 3 * (1 + 14pt);
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    //word-wrap: normal;
  }
}

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  @include clearfix;

  &.inline li {
    float: left;
    @include font-size(14);
    line-height: 2.5;
  }

  a {
    padding: 4px 6px;
    margin: 2px;
    background-color: lighten($black, 90);
    @include rounded(4px);
    text-decoration: none;

    span {
      vertical-align: super;
      @include font-size(10);
    }
  }
}

.semesters-wrapper {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.semesters-wrapper input[type='radio'] {
  display: none;
}

.semesters-wrapper label {
  //width: 10em;
  margin: 0 0.4em 0.5em;
  order: -1;
}

.semesters-wrapper label:hover {
  cursor: pointer;
}

.semesters-wrapper ul.post-list {
  overflow: hidden;
  padding: 0 10px;
  display: none;
  margin-top: 1em;
}

.semesters-wrapper label + input[type='radio']:checked + ul.post-list {
  display: block;
}
