.list-people-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#person {
  font-size: 0.875rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 44em) {
  #person {
    width: 50%;
  }
}
#person a {
  color: var(--text-color);
}
#person .bio-photo {
  margin: auto;
  margin-bottom: 10px;
  display: block;
  width: calc(0.4 * 48em); //$large;
  height: calc(0.4 * 48em); //$large;
  border-radius: 14.4em;
}
#person .name {
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}
#person .position {
  text-transform: uppercase;
  display: inline-block;
}
#person .bio {
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  line-height: 2;
  padding: 1em;
  text-align: justify;
  display: block;
}
