/* ==========================================================================
   Masthead
   ========================================================================== */

.masthead {
  margin-top: 40px;
}
@media only screen and (min-width: 44em) {
  .masthead {
    margin-top: 0;
  }
}
.masthead .wrap {
  text-align: center;
  max-width: 60em;
  padding-right: 20px;
  padding-left: 20px;
}
@media only screen and (min-width: 44em) {
  .masthead .wrap {
    max-width: em(728);
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media only screen and (min-width: 62em) {
  .masthead .wrap {
    max-width: em(960);
  }
}

/*
   Site logo
   ========================================================================== */

.site-logo img {
  width: 100px;
  height: 100px;
  animation-duration: 1s;
  animation-delay: .05s;
  border: 4px solid white;
  border-radius: 100px; /* crops in a circle */
}
@media only screen and (min-width: 44em) {
  .site-logo img {
    width: 150px;
    height: 150px;
    border-radius: 150px; /* crops in a circle */
  }
}
@media only screen and (min-width: 62em) {
  .site-logo img {
    width: 200px;
    height: 200px;
    border-radius: 200px; /* crops in a circle */
  }
}

/*
   Site title/name
   ========================================================================== */

.site-title {
  margin-bottom: 0;
  animation-duration: 1s;
  animation-delay: .75s;

  a {
    color: black;
  }
}

/*
   Site description text
   ========================================================================== */

.site-description {
  margin-top: 0;
  font-family: var(--alt-font);
  font-size: 1rem; line-height: 1.5;
  font-weight: 400;
  font-style: italic;
  animation-duration: 1s;
  animation-delay: 1s;
}
@media only screen and (min-width: 44em) {
  .site-description {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
