/* ==========================================================================
   Top navigation
   ========================================================================== */
.navigation-wrapper {
  text-align: center;
  overflow: hidden;
}
.navigation-wrapper ul {
  display: inline-block;
  vertical-align: top;
  background-color: black;
  margin: 0;
  padding: 0;
  max-height: 0px;
  overflow: hidden;
  width: 100%;
  transition: max-height .2s ease-out;
}
@media only screen and (min-width: 44em) {
  .navigation-wrapper ul {
    width: auto;
    margin: 0 0 20px;
    padding: 4px 20px;
    max-height: none;
    border-radius: 0 0 10px 10px;
  }
}
.navigation-wrapper li {
  display: block;
  list-style: none;
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
}
@media only screen and (min-width: 44em) {
  .navigation-wrapper li {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.7;
    float: left;
  }
}
.navigation-wrapper li a:hover {
  box-shadow: inset 0 0 1px white;
}
.navigation-wrapper a {
  display: block;
  margin-bottom: 10px;
  padding: 12px 20px;
  color: white;
  border-radius: 4px;
}
@media only screen and (min-width: 44em) {
  .navigation-wrapper a {
    margin-bottom: 0;
    padding: 6px 10px;
  }
}
.navigation-wrapper a:hover {
  background-color: hsl(0, 0%, 10%);
}
.navigation-wrapper .mobile-nav {
  background: black;
}
.navigation-wrapper .mobile-nav .menu-icon {
  display: inline-flex;
  flex-direction: column;
  width: 2em;
  height: 2em;
  margin-bottom: 0.5em;
  cursor: pointer;
  user-select: none;
}
.navigation-wrapper .mobile-nav .menu-icon:hover > .bar-top,
.navigation-wrapper .mobile-nav .menu-icon:hover > .bar-middle,
.navigation-wrapper .mobile-nav .menu-icon:hover > .bar-bottom {
  background-color: hsl(0, 0%, 80%);
}
.navigation-wrapper .mobile-nav .menu-icon .bar-top,
.navigation-wrapper .mobile-nav .menu-icon .bar-middle,
.navigation-wrapper .mobile-nav .menu-icon .bar-bottom {
  background: white;
  width: 100%;
  height: 0.3em;
  margin: auto;
  transition: all .2s ease-out;
}
@media only screen and (min-width: 44em) {
  .navigation-wrapper .mobile-nav .menu-icon {
    display: none;
  }
}
.navigation-wrapper .menu-btn {
  display: none;
}
.navigation-wrapper .menu-btn:checked ~ ul {
  max-height: 40em;
}
.navigation-wrapper .menu-btn:checked ~ .mobile-nav .menu-icon .bar-middle {
  background: transparent;
}
.navigation-wrapper .menu-btn:checked ~ .mobile-nav .menu-icon .bar-top {
  transform: translateY(calc(calc(2 / 3) * 1em)) rotate(45deg);
}
.navigation-wrapper .menu-btn:checked ~ .mobile-nav .menu-icon .bar-bottom {
  transform: translateY(calc(calc(-2 / 3) * 1em)) rotate(-45deg);
}
