.entry-title {
  text-align: center;
  max-width: 100%;
  font-family: $alt-font;
  font-style: italic;
  @include font-size(36,yes,36);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -3px;

  a {
    color: $black;
    text-decoration: underline;
  }

  @media #{$medium} {
    @include font-size(52,yes,54);
  }

  @media #{$large} {
    @include font-size(68,yes,72);
  }
}

#page {
  @include clearfix;
  //border-bottom: 1px solid lighten($black,80);
  //border-bottom: 1px solid rgba($black,.10);

  //max-width: em(760);
  max-width: 46.7em;
  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 1em;
  padding-right: $gutter;
  padding-left: $gutter;
  padding-bottom: 1em;

  header {
    width: 100%;
    box-sizing: border-box;
    animation-duration: 1s;
    animation-delay: 1.4s;
  }


  .entry-content {
    //@include span-columns(12);
    //@include span-columns(12);
    animation-duration: 1s;
    animation-delay: 1.6s;

    p:first-child {
      margin-top: 0;
    }

    @media #{$large} {
      //@include span-columns(9.5);
    }

    /* nice link underlines */
    p > a,
    li > a {
      border-bottom: 1px dotted lighten($link-color, 50);

      &:hover {
        border-bottom-style: solid;
      }
    }
  }

}

