.post-entry-title {
  //width: 100%;
  box-sizing: border-box;
  animation-duration: 1s;
  animation-delay: 1.4s;
  font-family: $alt-font;
  font-style: italic;
  @include font-size(36,yes,36);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -3px;

  a {
    color: $black;
    text-decoration: underline;
  }

  @media #{$medium} {
    @include font-size(52,yes,54);
  }

  @media #{$large} {
    @include font-size(68,yes,72);
  }
}

#post {
	@include clearfix;
  border-bottom: 1px solid lighten($black,80);
  border-bottom: 1px solid rgba($black,.10);

  //max-width: em(760);
  max-width: 59.5em;
  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 3em;
  padding-right: $gutter;
  padding-left: $gutter;

  .banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //margin: 20px 0 0;
    //max-width: em(760);

    //@media #{$medium} {
    //  margin-top: -75px; /* move up to be overlapped by site logo */
    //}

    //@media #{$large} {
    //  margin-top: -145px; /* move up further to be overlapped by site logo */
    //}
  }

  header {
    // display: contents; wish I could use this to but title and meta in same header
  }
  .entry-meta {
    //@include span-columns(12);
    margin-right: 12px;
    text-transform: uppercase;
    @include font-size(14);

    a {
      color: $text-color;
    }

    @media #{$large} {
      //@include span-columns(2.5);
      display: inline-block;
      vertical-align: top;
      width: 0.2 * 62em; //$large;
    }

    & > span {
      padding: 0 20px 10px 0;
      display: inline-block;

      @media #{$large} {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid lighten($black,80);
        border-bottom: 1px solid rgba($black,.10);
      }
    }
    .bio-photo {
      display: none;

      @media #{$large} {
        display: block;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
        @include rounded(150px);
        @include clearfix;
      }
    }


    .entry-tags {
      padding: 0;//8px 0;
      //padding-left: 20px;
      margin: 0;
      display: inline-block;

      @media #{$large} {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid lighten($black,80);
        border-bottom: 1px solid rgba($black,.10);
      }
      //margin: 2em 0 0;
      //padding: 0;
      //text-transform: uppercase;
      //@include font-size(16);
      //font-weight: 600;
      list-style-type: none;

      //a {
      //  color: $text-color;
      //  padding: 0 5px;
      //}

      margin-bottom: 0;
      li {
        @include font-size(14);
        display: inline-block;
        margin-bottom: 0;
        padding-left: 8px;

        @media #{$large} {
          display: block;
          padding-left: 0px;
        }
        //&:before {
        //  content: "\2022";
        //}

        //&:first-child {

        //  &:before {
        //    content: "";
        //  }

        //  a {
        //    padding-left: 0;
        //  }
        //}
      }
    }
  }


  .entry-content {
    //@include span-columns(12);
    animation-duration: 1s;
    animation-delay: 1.6s;

    p:first-child {
      margin-top: 0;
    }

    @media #{$large} {
      //@include span-columns(9.5);
      display: inline-block;
      width: 0.72 * 62em; //$large;
    }

    /* nice link underlines */
    p > a,
    li > a {
      border-bottom: 1px dotted lighten($link-color, 50);

      &:hover {
        border-bottom-style: solid;
      }
    }
  }
  .entry-content-full {
    //@include span-columns(12);
    animation-duration: 1s;
    animation-delay: 1.6s;

    p:first-child {
      margin-top: 0;
    }

    /* nice link underlines */
    p > a,
    li > a {
      border-bottom: 1px dotted lighten($link-color, 50);

      &:hover {
        border-bottom-style: solid;
      }
    }
  }
  .poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #disqus_thread {
    margin-top: 2em;
  }

}

.pagination {
  margin-top: 2em;
  text-align: center;
}
