.post-entry-title {
  //width: 100%;
  box-sizing: border-box;
  animation-duration: 1s;
  animation-delay: 1.4s;
  font-family: var(--alt-font);
  font-style: italic;
  font-size: 2.25rem; line-height: 1;
  font-weight: 400;
  letter-spacing: -3px;
}
.post-entry-title a {
  color: black;
  text-decoration: underline;
}
@media only screen and (min-width: 44em) {
  .post-entry-title {
    font-size: 3.25rem;
    line-height: 1;
  }
}
@media only screen and (min-width: 44em) {
  .post-entry-title {
    font-size: 4.25rem;
    line-height: 1.2;
  }
}

#post {
  max-width: 59.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 1em;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
}
#post .banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#post .entry-meta {
  margin-right: 12px;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.7;
}
#post .entry-meta a {
  color: var(--text-color);
}
@media only screen and (min-width: 44em) {
  #post .entry-meta {
    display: inline-block;
    vertical-align: top;
    width: calc(0.2 * 62em); //$medium;
  }
}
#post .entry-meta > span {
  padding: 0 20px 10px 0;
  display: inline-block;
}
@media only screen and (min-width: 44em) {
  #post .entry-meta > span {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    border-bottom: 1px solid var(--border-color);
  }
}
#post .entry-meta .bio-photo {
  display: none;
}
@media only screen and (min-width: 44em) {
  #post .entry-meta .bio-photo {
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 150px;
  }
}
#post .entry-meta .entry-tags {
  padding: 0;
  //padding-left: 20px;
  margin: 0;
  display: inline-block;
  //margin: 2em 0 0;
  //padding: 0;
  //text-transform: uppercase;
  //font-weight: 600;
  list-style-type: none;
  margin-bottom: 0;
  //a {
  //  color: var(--text-color);
  //  padding: 0 5px;
  //}
}
@media only screen and (min-width: 44em) {
  #post .entry-meta .entry-tags {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    border-bottom: 1px solid var(--border-color);
  }
}
#post .entry-meta .entry-tags li {
  font-size: 0.875rem;
  line-height: 1.7;
  display: inline-block;
  margin-bottom: 0;
  padding-left: 8px;
}
@media only screen and (min-width: 44em) {
  #post .entry-meta .entry-tags li {
    display: block;
    padding-left: 0px;
  }
}
#post .entry-content {
  animation-duration: 1s;
  animation-delay: 1.6s;
}
/* nice link underlines */
#post .entry-content p:first-child {
  margin-top: 0;
}
@media only screen and (min-width: 44em) {
  #post .entry-content {
    display: inline-block;
    width: calc(0.72 * 62em); //$medium;
  }
}
#post .entry-content p > a,
#post .entry-content li > a {
  border-bottom: 1px dotted var(--link-underline-color);
}
#post .entry-content p > a:hover,
#post .entry-content li > a:hover {
  border-bottom-style: solid;
}
#post .entry-content-full {
  animation-duration: 1s;
  animation-delay: 1.6s;
}
/* nice link underlines */
#post .entry-content-full p:first-child {
  margin-top: 0;
}
#post .entry-content-full p > a,
#post .entry-content-full li > a {
  border-bottom: 1px dotted var(--link-underline-color);
}
#post .entry-content-full p > a:hover,
#post .entry-content-full li > a:hover {
  border-bottom-style: solid;
}
#post .poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#post #disqus_thread {
  margin-top: 2em;
}

.pagination {
  margin-top: 2em;
  text-align: center;
}
