/* ==========================================================================
   Search
   ========================================================================== */

.search-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
/* input field */
#search-box {
    max-width: 80%;
    padding: 8px 10px;
    font-size: 0.875rem;
    line-height: 1.7;
    border-width: 2px;
    border-radius: var(--border-radius);
}

