/* ==========================================================================
   Search
   ========================================================================== */
.simple-search {
	  label {
		    display: none;
	  }
}

/* input field */
#search-box {
		@include media($medium) {
			  width: 80%;
		}
    width: auto;
    margin-right: 10px;
    padding: 8px 10px;
    @include font-size(14);
    border-width: 2px;
    border-radius: $border-radius;
}

