:root {
  --gutter                   : 20px;
  --border-radius            : 3px;

  // TYPOGRAPHY ================================================
  --base-font                : 'source-sans-pro', sans-serif;
  --heading-font             : 'source-sans-pro', sans-serif;
  --code-font                : 'source-code-pro', monospace;
  --alt-font                 : 'volkhov', serif;

  // COLORS =====================================================
  --text-color-hs            : 0, 0%;
  --text-color-l             : 13%;
  --text-color               : hsl(var(--text-color-hs), var(--text-color-l));
  --border-color             : rgba(0,0,0,0.10);
  --link-color               : hsl(0, 0%, 13%);
  --link-visited-color       : hsl(0, 0%, 33%);
  --link-underline-color     : hsl(0, 0%, 63%);
  --link-focus-color         : hsl(0, 0%, 0%);
}

// MEDIA QUERIES ==============================================
$medium                   : "only screen and (min-width: 44em)";
$large                    : "only screen and (min-width: 62em)";
$max-medium               : "only screen and (max-width: 48em)";

